.main-background-color{
    background-color: #fff;
}
.second-background-color{
    background-color: black;
}
.text-white{
    color: white;
}
.text-black{
    color: #000;
}
.text-p{
    color:#585858;
}


