@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

.container {
    background-color: var(--nav-color);
    font-size: 1.2rem;
    font-family: "Merriweather Sans", sans-serif;
    height: 70px;
    background: #414852;
}

.navbar {
    height: 100%;
    width: 80%;
    margin: auto;
}

.navbar ul li {
    color: #ddd;
    list-style-type: none;
}

.container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
    .container {
        height: 100%;
    }

    .container .navbar {
        flex-direction: column;
    }
}

.wonders {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 6% auto 0;
}
.wonder {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	background: #414852;
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
}
.wonder:hover {
	transform: translateY(-10px);
}
.img-wonder {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.img-wonder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}
.img-wonder:hover img {
	transform: scale(1.1);
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 174, 255, 0.8);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.wonder:hover .overlay {
	opacity: 1;
}
.add-to-cart, .view-details {
	background-color: #fff;
	color: #333;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-bottom: 10px;
}
.add-to-cart:hover, .view-details:hover {
	background-color: rgb(48, 43, 41);
	color: #fff;
	border: none;
}
.info {
	padding: 10px;
	text-align: center;
	color: #ddd;
}
.info h3 {
	margin: 15px 0 10px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Bebas Neue', sans-serif;
}
.info .city {
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	color: aqua;
}

.summary{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}


.footer{
    color: white;
    position: relative;
	height: 100%;
	margin: 15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	background: #414852;
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
    text-align: center;
}
